body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfe0e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  margin: auto;
  text-align: center;
}

.recipesArea {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 100%;
  padding: 5px;
}

.recipeForm > * {
  display: block;
  margin: auto;
  text-align: center;
}

.recipeForm {
  background-color: #b7d7e8;
  margin: auto;
}

.recipeImage {
  float: right;
  margin-right: 1em;
  border-radius: 1em;
  border: 1px solid #d9d9d9;
  padding: 5px;
}

.simpleRecipe {
  margin: auto;
  margin-top: 1em;
  background-color: #87bdd8;
  padding: 5px;
  width: 50%
}

.simpleRecipe ul {
  list-style-type: none;
}

/* anchor */
.recipeLink {
  text-decoration: none;
}

.recipeLabel {
  margin: 0;
}
